<div class="container">
  <mat-form-field class="example-form-field">
    <mat-label>Search for photos</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="inputValue"
      (keyup)="pressEnter($event)"
    />
    <button
      *ngIf="inputValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="inputValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-paginator
    *ngIf="results?.length"
    (page)="handlePageEvent($event)"
    [length]="totalItems"
    [pageSize]="itemsPerPage"
    aria-label="Select page"
    [pageIndex]="pageIndex"
    class="paginate"
  >
  </mat-paginator>

  <div class="gallery">
    <div
      *ngFor="let result of results; let i = index"
      [class]="'gallery_item_' + (i + 1)"
      class="gallery_item"
    >
      <img
        [src]="result.urls.small"
        [alt]="result.description"
        class="gallery_img"
      />
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
